<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="car"
          class="com.epam.brest.autobase.dao.models.Car">
    </bean>
    <bean id="driver"
          class="com.epam.brest.autobase.dao.models.Driver">
    </bean>
    <bean id="request"
          class="com.epam.brest.autobase.dao.models.Request">
    </bean>
    <bean id="requestController"
          class="com.epam.brest.autobase.controllers.RequestController">
    </bean>
    <bean id="driverController"
    class="com.epam.brest.autobase.controllers.DriverController">

    </bean>
    <bean id="carController"
          class="com.epam.brest.autobase.controllers.CarController">

    </bean>
    <bean id="carService"
          class="com.epam.brest.autobase.service.CarService">

    </bean>
    <bean id="driverService"
          class="com.epam.brest.autobase.service.DriverService">

    </bean>
    <bean id="requestService"
          class="com.epam.brest.autobase.service.RequestService">

    </bean>
</beans>