<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<center>
    <h1>Requests</h1>
    <hr>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Driver</th>
                <th scope="col">Car's count</th>
            </thead>
            <tbody>
            <tr th:each="request : ${requestList}">
                <td th:text="${request.getName()}"/>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</center>
</body>
<hr>
<footer>
    <a th:href="@{/autobase}">Back to menu of autobase</a>
</footer>
</html>